@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swiper-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.swiper-slide {
    display: flex;
    justify-content: center;
} */

.hidden-nav {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}
.visible-nav {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}
