@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swiper-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.swiper-slide {
    display: flex;
    justify-content: center;
} */
